{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Edit</h1>
    <form action="{% url 'postes:show' post.id %}" method="post">
        {% csrf_token %}
        <div>
            <label for="title">title</label>
            <input type="text" name="title" id="title" value="{{ post.title }}">
        </div>
        <div>
            <label for="number">number</label>
            <input type="text" name="number" id="number" value="{{ post.number }}">
        </div>
        <div>
            <label for="note">title</label>
            <input type="text" name="note" id="note" value="{{ post.note }}">
        </div>
        <input type="submit" value="編輯">
    </form>
{% endblock %}